---
/**
 * CustomerInformationForm.astro
 * - Formidable markup preserved.
 * - Prevents "red border" invalid styling on initial render by deferring invalid styling
 *   until after first submit attempt.
 * - Uses native HTML5 constraint validation (required/type=email).
 *
 * UPDATE:
 * - Applies the SAME "proxy date" pattern we used on AppointmentForm:
 *   - visible readonly text input
 *   - real native <input type="date"> sits on top (opacity 0) and submits
 *   - proxy mirrors real value in user locale
 */
const FORM_ID = "form_customerinformation";
import vehiclesData from "../data/vehicles.json";
---

<!-- Formidable wrapper -->
<div
	class="frm_forms with_frm_style frm_style_formidable-style"
	data-token="6175db04c788b56068a0069e43debc77"
	id="frm_form_4_container"
>
	<form
		class="frm-show-form frm_pro_form"
		data-token="6175db04c788b56068a0069e43debc77"
		data-validated="false"
		enctype="multipart/form-data"
		id="form_customerinformation"
		method="post"
		action="/api/forms"
		data-vehicles={JSON.stringify(vehiclesData)}
	>
		<div class="frm_form_fields">
			<fieldset>
				<legend class="frm_screen_reader">Customer Information</legend>
				<div class="frm_fields_container">
					<input name="frm_action" type="hidden" value="create" />
					<input name="form_id" type="hidden" value="4" />
					<input
						id="frm_hide_fields_4"
						name="frm_hide_fields_4"
						type="hidden"
						value=""
					/>
					<input
						name="form_key"
						type="hidden"
						value="customerinformation"
					/>
					<input name="item_meta[0]" type="hidden" value="" />
					<input
						id="frm_submit_entry_4"
						name="frm_submit_entry_4"
						type="hidden"
						value="cb96dd78bf"
					/><input
						name="_wp_http_referer"
						type="hidden"
						value="/customer-information-form/"
					/><div
						class="frm_form_field frm_html_container form-field"
						id="frm_field_79_container"
					>
						<div class="btn-inline">
							<a
								class="btn btn-border btn-invert btn-wide"
								href="../../wp-content/uploads/2023/06/MyMechanic-Customer-Info-Sheet-v3.pdf"
								target="_blank"
								><span>CLICK HERE TO FILL OUT PDF VERSION</span
								></a
							>
						</div>
					</div>
					<div
						class="frm_form_field frm_section_heading form-field"
						id="frm_field_29_container"
					>
						<h2 class="frm_pos_top frm_section_spacing">
							Visit Information
						</h2>
						<div
							class="frm_form_field form-field frm_hidden_container frm_two_col"
							id="frm_field_35_container"
						>
							<div
								class="frm_primary_label"
								id="field_mv3sd_label"
							>
								Visit information
								<span aria-hidden="true" class="frm_required"
								></span>
							</div>
							<div
								aria-labelledby="field_mv3sd_label"
								class="frm_opt_container"
								role="group"
							>
								<div
									class="frm_checkbox"
									id="frm_checkbox_35-29-0"
								>
									<label for="field_mv3sd-0">
										<input
											data-invmsg="Visit information is invalid"
											data-sectionid="29"
											id="field_mv3sd-0"
											name="item_meta[35][]"
											type="checkbox"
											value="First visit customer"
										/> First visit customer</label>
								</div>
								<div
									class="frm_checkbox"
									id="frm_checkbox_35-29-1"
								>
									<label for="field_mv3sd-1">
										<input
											data-invmsg="Visit information is invalid"
											data-sectionid="29"
											id="field_mv3sd-1"
											name="item_meta[35][]"
											type="checkbox"
											value="First visit this vehicle"
										/> First visit this vehicle</label>
								</div>
								<div
									class="frm_checkbox"
									id="frm_checkbox_35-29-2"
								>
									<label for="field_mv3sd-2">
										<input
											data-invmsg="Visit information is invalid"
											data-sectionid="29"
											id="field_mv3sd-2"
											name="item_meta[35][]"
											type="checkbox"
											value="Return visit customer"
										/> Return visit customer</label>
								</div>
								<div
									class="frm_checkbox"
									id="frm_checkbox_35-29-3"
								>
									<label for="field_mv3sd-3">
										<input
											data-invmsg="Visit information is invalid"
											data-sectionid="29"
											id="field_mv3sd-3"
											name="item_meta[35][]"
											type="checkbox"
											value="Return visit this vehicle"
										/> Return visit this vehicle</label>
								</div>
							</div>
						</div>
						<div
							class="frm_form_field form-field new-customer-information frm_hidden_container vertical_radio"
							id="frm_field_43_container"
						>
							<div
								class="frm_primary_label"
								id="field_vrw0h_label"
							>
								I have new contact information
								<span aria-hidden="true" class="frm_required"
								></span>
							</div>
							<div
								aria-labelledby="field_vrw0h_label"
								class="frm_opt_container"
								role="group"
							>
								<div
									class="frm_checkbox"
									id="frm_checkbox_43-29-0"
								>
									<label for="field_vrw0h-0">
										<input
											data-invmsg="I have new contact information is invalid"
											data-sectionid="29"
											id="field_vrw0h-0"
											name="item_meta[43][]"
											type="checkbox"
											value="I have new contact information"
										/> I have new contact information</label>
								</div>
							</div>
						</div>
					</div>
					<div
						class="frm_form_field frm_section_heading form-field"
						id="frm_field_31_container"
					>
						<h2 class="frm_pos_top frm_section_spacing">
							Contact Information
						</h2>
						<div
							class="frm_form_field form-field frm_required_field frm_hidden_container frm6 frm_first"
							id="frm_field_36_container"
						>
							<label
								class="frm_primary_label"
								for="field_o881l"
								id="field_o881l_label"
								>Responsible Party's Name
								<span aria-hidden="true" class="frm_required"
									>*</span
								>
							</label>
							<input
								aria-invalid="false"
								aria-required="true"
								data-invmsg="Text is invalid"
								data-reqmsg="Responsible Party's Name cannot be blank."
								data-sectionid="31"
								id="field_o881l"
								name="item_meta[36]"
								placeholder="Responsible Party's Name"
								type="text"
								value=""
							/>
						</div>
						<div
							class="frm_form_field form-field frm_hidden_container frm6"
							id="frm_field_37_container"
						>
							<label
								class="frm_primary_label"
								for="field_89ais"
								id="field_89ais_label"
								>Phone
								<span aria-hidden="true" class="frm_required"
								></span>
							</label>
							<input
								aria-invalid="false"
								data-frmmask="(999)999-9999"
								data-invmsg="Phone is invalid"
								data-sectionid="31"
								id="field_89ais"
								name="item_meta[37]"
								pattern="\(\d\d\d\)\d\d\d-\d\d\d\d$"
								placeholder="Phone"
								type="tel"
								value=""
							/>
						</div>
						<div
							class="frm_form_field form-field frm_hidden_container"
							id="frm_field_38_container"
						>
							<label
								class="frm_primary_label"
								for="field_fktq9"
								id="field_fktq9_label"
								>Preferred contact name
								<span aria-hidden="true" class="frm_required"
								></span>
							</label>
							<input
								aria-invalid="false"
								data-invmsg="Text is invalid"
								data-sectionid="31"
								id="field_fktq9"
								name="item_meta[38]"
								placeholder="Preferred contact name"
								type="text"
								value=""
							/>
						</div>
						<div
							class="frm_form_field form-field frm_required_field frm_hidden_container frm6 frm_first"
							id="frm_field_39_container"
						>
							<label
								class="frm_primary_label"
								for="field_rdxgl"
								id="field_rdxgl_label"
								>Email
								<span aria-hidden="true" class="frm_required"
									>*</span
								>
							</label>
							<input
								aria-invalid="false"
								aria-required="true"
								data-invmsg="Email is invalid"
								data-reqmsg="Email cannot be blank."
								data-sectionid="31"
								id="field_rdxgl"
								name="item_meta[39]"
								placeholder="Email"
								type="text"
								value=""
							/>
						</div>
						<div
							class="frm_form_field form-field frm_hidden_container frm6"
							id="frm_field_40_container"
						>
							<label
								class="frm_primary_label"
								for="field_2uomj"
								id="field_2uomj_label"
								>Phone / Text
								<span aria-hidden="true" class="frm_required"
								></span>
							</label>
							<input
								aria-invalid="false"
								data-invmsg="Phone is invalid"
								data-sectionid="31"
								id="field_2uomj"
								name="item_meta[40]"
								pattern="((\+\d{1,3}(-|.| ) |.) ) ) x| ext)\d{1,5}){0,1}$"
								placeholder="Phone / Text"
								type="tel"
								value=""
							/>
						</div>
						<div
							class="frm_form_field form-field frm_hidden_container"
							id="frm_field_41_container"
						>
							<div
								class="frm_primary_label"
								id="field_d59zk_label"
							>
								Address
								<span aria-hidden="true" class="frm_required"
								></span>
							</div>
							<fieldset aria-labelledby="field_d59zk_label">
								<legend class="frm_screen_reader frm_hidden">
									Address</legend
								>
								<div class="frm_combo_inputs_container">
									<div
										class="frm_form_field form-field"
										id="frm_field_41-line1_container"
									>
										<label
											class="frm_screen_reader frm_hidden"
											for="field_d59zk_line1"
										>
											Address
										</label>
										<input
											aria-invalid="false"
											autocomplete="address-line1"
											data-invmsg="Address is invalid"
											data-sectionid="31"
											id="field_d59zk_line1"
											name="item_meta[41][line1]"
											placeholder="Address"
											type="text"
											value=""
										/>
									</div>
									<div
										class="frm_form_field form-field"
										id="frm_field_41-line2_container"
									>
										<label
											class="frm_screen_reader frm_hidden"
											for="field_d59zk_line2"
										>
											Address
										</label>
										<input
											aria-invalid="false"
											autocomplete="address-line2"
											class="frm_optional"
											data-invmsg="Address is invalid"
											data-sectionid="31"
											id="field_d59zk_line2"
											name="item_meta[41][line2]"
											placeholder=""
											type="text"
											value=""
										/>
									</div>
									<div
										class="frm_form_field form-field frm_third frm_first"
										id="frm_field_41-city_container"
									>
										<label
											class="frm_screen_reader frm_hidden"
											for="field_d59zk_city"
										>
											Address
										</label>
										<input
											aria-invalid="false"
											autocomplete="address-level2"
											data-invmsg="Address is invalid"
											data-sectionid="31"
											id="field_d59zk_city"
											name="item_meta[41][city]"
											placeholder="City"
											type="text"
											value=""
										/>
									</div>
									<div
										class="frm_form_field form-field frm_third"
										id="frm_field_41-state_container"
									>
										<label
											class="frm_screen_reader frm_hidden"
											for="field_d59zk_state"
										>
											Address
										</label>
										<select
											aria-invalid="false"
											autocomplete="address-level1"
											data-invmsg="Address is invalid"
											data-sectionid="31"
											id="field_d59zk_state"
											name="item_meta[41][state]"
											placeholder="State"
										>
											<option value=""> State </option>
											<option value="Alabama"
												>Alabama</option
											><option value="Alaska"
												>Alaska</option
											><option value="Arkansas"
												>Arkansas</option
											><option value="Arizona"
												>Arizona</option
											><option value="California"
												>California</option
											><option value="Colorado"
												>Colorado</option
											><option value="Connecticut"
												>Connecticut</option
											><option value="Delaware"
												>Delaware</option
											><option
												value="District of Columbia"
												>District of Columbia</option
											><option value="Florida"
												>Florida</option
											><option value="Georgia"
												>Georgia</option
											><option value="Hawaii"
												>Hawaii</option
											><option value="Idaho">Idaho</option
											><option value="Illinois"
												>Illinois</option
											><option value="Indiana"
												>Indiana</option
											><option value="Iowa">Iowa</option
											><option value="Kansas"
												>Kansas</option
											><option value="Kentucky"
												>Kentucky</option
											><option value="Louisiana"
												>Louisiana</option
											><option value="Maine">Maine</option
											><option value="Maryland"
												>Maryland</option
											><option value="Massachusetts"
												>Massachusetts</option
											><option value="Michigan"
												>Michigan</option
											><option value="Minnesota"
												>Minnesota</option
											><option value="Mississippi"
												>Mississippi</option
											><option value="Missouri"
												>Missouri</option
											><option value="Montana"
												>Montana</option
											><option value="Nebraska"
												>Nebraska</option
											><option value="Nevada"
												>Nevada</option
											><option value="New Hampshire"
												>New Hampshire</option
											><option value="New Jersey"
												>New Jersey</option
											><option value="New Mexico"
												>New Mexico</option
											><option value="New York"
												>New York</option
											><option value="North Carolina"
												>North Carolina</option
											><option value="North Dakota"
												>North Dakota</option
											><option value="Ohio">Ohio</option
											><option value="Oklahoma"
												>Oklahoma</option
											><option value="Oregon"
												>Oregon</option
											><option value="Pennsylvania"
												>Pennsylvania</option
											><option value="Rhode Island"
												>Rhode Island</option
											><option value="South Carolina"
												>South Carolina</option
											><option value="South Dakota"
												>South Dakota</option
											><option value="Tennessee"
												>Tennessee</option
											><option value="Texas">Texas</option
											><option value="Utah">Utah</option
											><option value="Vermont"
												>Vermont</option
											><option value="Virginia"
												>Virginia</option
											><option value="Washington"
												>Washington</option
											><option value="West Virginia"
												>West Virginia</option
											><option value="Wisconsin"
												>Wisconsin</option
											><option value="Wyoming"
												>Wyoming</option
											>
										</select>
									</div>
									<div
										class="frm_form_field form-field frm_third"
										id="frm_field_41-zip_container"
									>
										<label
											class="frm_screen_reader frm_hidden"
											for="field_d59zk_zip"
										>
											Address
										</label>
										<input
											aria-invalid="false"
											autocomplete="postal-code"
											data-invmsg="Address is invalid"
											data-sectionid="31"
											id="field_d59zk_zip"
											name="item_meta[41][zip]"
											placeholder="Zip/Postal"
											type="text"
											value=""
										/>
									</div>
								</div>
							</fieldset>
						</div>
					</div>
					<div
						class="frm_form_field frm_section_heading form-field"
						id="frm_field_60_container"
					>
						<h3 class="frm_pos_top frm_section_spacing">
							Who may we thank for referring you to My Mechanic?
						</h3>
						<div
							class="frm_form_field form-field frm_hidden_container"
							id="frm_field_62_container"
						>
							<label
								class="frm_primary_label"
								for="field_87v3o"
								id="field_87v3o_label"
								>Who referred you to My Mechanic <span
									aria-hidden="true"
									class="frm_required"></span>
							</label>
							<select
								aria-invalid="false"
								data-invmsg="Who referred you to My Mechanic? is invalid"
								data-placeholder="Please Select One"
								data-sectionid="60"
								id="field_87v3o"
								name="item_meta[62]"
								placeholder="Please Select One"
							>
								<option
									class="frm-select-placeholder"
									data-placeholder="true"
									value="">Please Select One</option
								><option value="Yelp">Yelp</option><option
									value="Google">Google</option
								><option value="Facebook">Facebook</option
								><option value="Instagram">Instagram</option
								><option value="My Mechanic website"
									>My Mechanic website</option
								><option value="Flyer">Flyer</option><option
									value="Customer">Customer</option
								><option value="BNI">BNI</option><option
									value="Other">Other</option
								>
							</select>
						</div>
						<div
							class="frm_form_field form-field frm_hidden_container"
							id="frm_field_64_container"
						>
							<label
								class="frm_primary_label"
								for="field_h0jnu"
								id="field_h0jnu_label"
								>Customer Referral
								<span aria-hidden="true" class="frm_required"
								></span>
							</label>
							<input
								aria-invalid="false"
								data-invmsg="Text is invalid"
								data-sectionid="60"
								id="field_h0jnu"
								name="item_meta[64]"
								placeholder="Referring Customer Name?"
								type="text"
								value=""
							/>
						</div>
						<div
							class="frm_form_field form-field frm_hidden_container"
							id="frm_field_66_container"
						>
							<label
								class="frm_primary_label"
								for="field_w065b"
								id="field_w065b_label"
								>Other Referral
								<span aria-hidden="true" class="frm_required"
								></span>
							</label>
							<input
								aria-invalid="false"
								data-invmsg="Text is invalid"
								data-sectionid="60"
								id="field_w065b"
								name="item_meta[66]"
								placeholder="How were you referred to My Mechanic?"
								type="text"
								value=""
							/>
						</div>
						<div
							class="frm_form_field form-field frm_hidden_container"
							id="frm_field_63_container"
						>
							<label
								class="frm_primary_label"
								for="field_hwmgc"
								id="field_hwmgc_label"
								>BNI Referral
								<span aria-hidden="true" class="frm_required"
								></span>
							</label>
							<input
								aria-invalid="false"
								data-invmsg="Text is invalid"
								data-sectionid="60"
								id="field_hwmgc"
								name="item_meta[63]"
								placeholder="BNI Referrer?"
								type="text"
								value=""
							/>
						</div>
					</div>
					<div
						class="frm_form_field frm_section_heading form-field"
						id="frm_field_33_container"
					>
						<h2 class="frm_pos_top frm_section_spacing">
							Vehicle Information
						</h2>
						<div
							class="frm_form_field form-field frm_hidden_container frm4 frm_first"
							id="frm_field_44_container"
						>
							<label
								class="frm_primary_label"
								for="field_4564y"
								id="field_4564y_label"
								>Vehicle Year
								<span aria-hidden="true" class="frm_required"
								></span>
							</label>
							<select
								aria-invalid="false"
								data-invmsg="Vehicle Year is invalid"
								data-placeholder="Vehicle Year"
								data-sectionid="33"
								id="field_4564y"
								name="item_meta[44]"
								placeholder="Vehicle Year"
							>
								<option value="">Vehicle Year</option>
								<option value="1990">1990</option>
								<option value="1991">1991</option>
								<option value="1992">1992</option>
								<option value="1993">1993</option>
								<option value="1994">1994</option>
								<option value="1995">1995</option>
								<option value="1996">1996</option>
								<option value="1997">1997</option>
								<option value="1998">1998</option>
								<option value="1999">1999</option>
								<option value="2000">2000</option>
								<option value="2001">2001</option>
								<option value="2002">2002</option>
								<option value="2003">2003</option>
								<option value="2004">2004</option>
								<option value="2005">2005</option>
								<option value="2006">2006</option>
								<option value="2007">2007</option>
								<option value="2008">2008</option>
								<option value="2009">2009</option>
								<option value="2010">2010</option>
								<option value="2011">2011</option>
								<option value="2012">2012</option>
								<option value="2013">2013</option>
								<option value="2014">2014</option>
								<option value="2015">2015</option>
								<option value="2016">2016</option>
								<option value="2017">2017</option>
								<option value="2018">2018</option>
								<option value="2019">2019</option>
								<option value="2020">2020</option>
								<option value="2021">2021</option>
								<option value="2022">2022</option>
								<option value="2023">2023</option>
								<option value="2024">2024</option>
							</select>
						</div>
						<div
							class="frm_form_field form-field frm_hidden_container frm4"
							id="frm_field_45_container"
						>
							<label
								class="frm_primary_label"
								for="field_u64q9"
								id="field_u64q9_label"
								>Vehicle Make
								<span aria-hidden="true" class="frm_required"
								></span>
							</label>
							<select
								aria-invalid="false"
								data-invmsg="Vehicle Make is invalid"
								data-placeholder="Vehicle Make"
								data-sectionid="33"
								id="field_u64q9"
								name="item_meta[45]"
								placeholder="Vehicle Make"
							>
								<option value="">Vehicle Make</option>
							</select>
						</div>
						<div
							class="frm_form_field form-field frm_hidden_container frm4"
							id="frm_field_46_container"
						>
							<label
								class="frm_primary_label"
								for="field_zbjf4"
								id="field_zbjf4_label"
								>Vehicle Model
								<span aria-hidden="true" class="frm_required"
								></span>
							</label>
							<select
								aria-invalid="false"
								data-invmsg="Vehicle Model is invalid"
								data-placeholder="Vehicle Model"
								data-sectionid="33"
								id="field_zbjf4"
								name="item_meta[46]"
								placeholder="Vehicle Model"
							>
								<option value="">Vehicle Model</option>
							</select>
						</div>
						<div
							class="frm_form_field form-field frm_hidden_container"
							id="frm_field_48_container"
						>
							<label
								class="frm_primary_label"
								for="field_ttdze"
								id="field_ttdze_label"
								>Vehicle Information
								<span aria-hidden="true" class="frm_required"
								></span>
							</label>
							<textarea
								aria-invalid="false"
								data-invmsg="Paragraph is invalid"
								data-sectionid="33"
								id="field_ttdze"
								name="item_meta[48]"
								placeholder="Vehicle Information"
								rows="2"></textarea>
						</div>
						<div
							class="frm_form_field form-field frm_hidden_container vertical_radio"
							id="frm_field_47_container"
						>
							<div
								class="frm_primary_label"
								id="field_crbon_label"
							>
								My vehicle is not listed above.
								<span aria-hidden="true" class="frm_required"
								></span>
							</div>
							<div
								aria-labelledby="field_crbon_label"
								class="frm_opt_container small-checkbox"
								role="group"
							>
								<div
									class="frm_checkbox"
									id="frm_checkbox_47-33-0"
								>
									<label for="field_crbon-0">
										<input
											data-invmsg="My vehicle is not listed above. is invalid"
											data-sectionid="33"
											id="field_crbon-0"
											name="item_meta[47][]"
											type="checkbox"
											value="My vehicle is not listed above."
										/> My vehicle is not listed above.</label>
								</div>
							</div>
						</div>
						<div
							class="frm_form_field frm8 frm_first frm_html_container form-field"
							id="frm_field_50_container"
						>
							<p>
								Are you aware of your vehicle's factory
								requirement for Scheduled Preventive
								Maintenance?
							</p>
						</div>
						<div
							class="frm_form_field form-field frm_hidden_container frm4 frm_two_col"
							id="frm_field_51_container"
						>
							<div
								class="frm_primary_label"
								id="field_hejh6_label"
							>
								Factory schedule maintenance
								<span aria-hidden="true" class="frm_required"
								></span>
							</div>
							<div
								aria-labelledby="field_hejh6_label"
								class="frm_opt_container no-margin"
								role="group"
							>
								<div
									class="frm_checkbox"
									id="frm_checkbox_51-33-0"
								>
									<label for="field_hejh6-0">
										<input
											data-invmsg="Factory schedule maintenance is invalid"
											data-sectionid="33"
											id="field_hejh6-0"
											name="item_meta[51][]"
											type="checkbox"
											value="Yes"
										/> Yes</label>
								</div>
								<div
									class="frm_checkbox"
									id="frm_checkbox_51-33-1"
								>
									<label for="field_hejh6-1">
										<input
											data-invmsg="Factory schedule maintenance is invalid"
											data-sectionid="33"
											id="field_hejh6-1"
											name="item_meta[51][]"
											type="checkbox"
											value="No"
										/> No</label>
								</div>
							</div>
						</div>
						<div
							class="frm_form_field frm_html_container form-field"
							id="frm_field_52_container"
						>
							<p>
								Please indicate the most important benefits you
								want from your vehicle:
							</p>
						</div>
						<div
							class="frm_form_field form-field frm_hidden_container frm_two_col"
							id="frm_field_53_container"
						>
							<div
								class="frm_primary_label"
								id="field_xg9py_label"
							>
								Vehicle benefits
								<span aria-hidden="true" class="frm_required"
								></span>
							</div>
							<div
								aria-labelledby="field_xg9py_label"
								class="frm_opt_container"
								role="group"
							>
								<div
									class="frm_checkbox"
									id="frm_checkbox_53-33-0"
								>
									<label for="field_xg9py-0">
										<input
											data-invmsg="Vehicle benefits is invalid"
											data-sectionid="33"
											id="field_xg9py-0"
											name="item_meta[53][]"
											type="checkbox"
											value="Maintain Performance and Handling"
										/> Maintain Performance and Handling</label>
								</div>
								<div
									class="frm_checkbox"
									id="frm_checkbox_53-33-1"
								>
									<label for="field_xg9py-1">
										<input
											data-invmsg="Vehicle benefits is invalid"
											data-sectionid="33"
											id="field_xg9py-1"
											name="item_meta[53][]"
											type="checkbox"
											value="Safety and Reliability"
										/> Safety and Reliability</label>
								</div>
								<div
									class="frm_checkbox"
									id="frm_checkbox_53-33-2"
								>
									<label for="field_xg9py-2">
										<input
											data-invmsg="Vehicle benefits is invalid"
											data-sectionid="33"
											id="field_xg9py-2"
											name="item_meta[53][]"
											type="checkbox"
											value="Not having to bring in your vehicle for repairs / convenience"
										/> Not having to bring in your vehicle for
										repairs / convenience</label>
								</div>
								<div
									class="frm_checkbox"
									id="frm_checkbox_53-33-3"
								>
									<label for="field_xg9py-3">
										<input
											data-invmsg="Vehicle benefits is invalid"
											data-sectionid="33"
											id="field_xg9py-3"
											name="item_meta[53][]"
											type="checkbox"
											value="Just getting to your destination"
										/> Just getting to your destination</label>
								</div>
							</div>
						</div>
						<div
							class="frm_form_field frm_html_container form-field"
							id="frm_field_54_container"
						>
							<p>
								Do you have any of the following WARNING lights
								on?
							</p>
						</div>
						<div
							class="frm_form_field form-field frm_hidden_container frm_two_col"
							id="frm_field_55_container"
						>
							<div
								class="frm_primary_label"
								id="field_ki46_label"
							>
								Warning Lights
								<span aria-hidden="true" class="frm_required"
								></span>
							</div>
							<div
								aria-labelledby="field_ki46_label"
								class="frm_opt_container"
								role="group"
							>
								<div
									class="frm_checkbox"
									id="frm_checkbox_55-33-0"
								>
									<label for="field_ki46-0">
										<input
											data-invmsg="Warning Lights is invalid"
											data-sectionid="33"
											id="field_ki46-0"
											name="item_meta[55][]"
											type="checkbox"
											value="Air Bag / SRS"
										/> Air Bag / SRS</label>
								</div>
								<div
									class="frm_checkbox"
									id="frm_checkbox_55-33-1"
								>
									<label for="field_ki46-1">
										<input
											data-invmsg="Warning Lights is invalid"
											data-sectionid="33"
											id="field_ki46-1"
											name="item_meta[55][]"
											type="checkbox"
											value="Maintenance / Maintenance Required"
										/> Maintenance / Maintenance Required</label>
								</div>
								<div
									class="frm_checkbox"
									id="frm_checkbox_55-33-2"
								>
									<label for="field_ki46-2">
										<input
											data-invmsg="Warning Lights is invalid"
											data-sectionid="33"
											id="field_ki46-2"
											name="item_meta[55][]"
											type="checkbox"
											value="RED Brake Light"
										/> RED Brake Light</label>
								</div>
								<div
									class="frm_checkbox"
									id="frm_checkbox_55-33-3"
								>
									<label for="field_ki46-3">
										<input
											data-invmsg="Warning Lights is invalid"
											data-sectionid="33"
											id="field_ki46-3"
											name="item_meta[55][]"
											type="checkbox"
											value="Check Engine / Service Engine Soon"
										/> Check Engine / Service Engine Soon</label>
								</div>
								<div
									class="frm_checkbox"
									id="frm_checkbox_55-33-4"
								>
									<label for="field_ki46-4">
										<input
											data-invmsg="Warning Lights is invalid"
											data-sectionid="33"
											id="field_ki46-4"
											name="item_meta[55][]"
											type="checkbox"
											value="Low Coolant"
										/> Low Coolant</label>
								</div>
								<div
									class="frm_checkbox"
									id="frm_checkbox_55-33-6"
								>
									<label for="field_ki46-6">
										<input
											data-invmsg="Warning Lights is invalid"
											data-sectionid="33"
											id="field_ki46-6"
											name="item_meta[55][]"
											type="checkbox"
											value="Low Tire"
										/> Low Tire</label>
								</div>
								<div
									class="frm_checkbox"
									id="frm_checkbox_55-33-7"
								>
									<label for="field_ki46-7">
										<input
											data-invmsg="Warning Lights is invalid"
											data-sectionid="33"
											id="field_ki46-7"
											name="item_meta[55][]"
											type="checkbox"
											value="Other"
										/> Other</label>
								</div>
							</div>
						</div>
						<div
							class="frm_form_field form-field frm_hidden_container"
							id="frm_field_67_container"
						>
							<label
								class="frm_primary_label"
								for="field_gzrya"
								id="field_gzrya_label"
								>Warning lights other description
								<span aria-hidden="true" class="frm_required"
								></span>
							</label>
							<textarea
								aria-invalid="false"
								data-invmsg="Paragraph is invalid"
								data-sectionid="33"
								id="field_gzrya"
								name="item_meta[67]"
								placeholder="Please indicate which warning light(s) are on:"
								rows="5"></textarea>
						</div>
						<div
							class="frm_form_field frm_html_container form-field"
							id="frm_field_56_container"
						>
							<p>My areas of concern about my vehicle are:</p>
						</div>
						<div
							class="frm_form_field form-field frm_hidden_container frm_three_col"
							id="frm_field_58_container"
						>
							<div
								class="frm_primary_label"
								id="field_1xcqj_label"
							>
								Areas of concern
								<span aria-hidden="true" class="frm_required"
								></span>
							</div>
							<div
								aria-labelledby="field_1xcqj_label"
								class="frm_opt_container"
								role="group"
							>
								<div
									class="frm_checkbox"
									id="frm_checkbox_58-33-0"
								>
									<label for="field_1xcqj-0">
										<input
											data-invmsg="Areas of concern is invalid"
											data-sectionid="33"
											id="field_1xcqj-0"
											name="item_meta[58][]"
											type="checkbox"
											value="Emissions"
										/> Emissions</label>
								</div>
								<div
									class="frm_checkbox"
									id="frm_checkbox_58-33-1"
								>
									<label for="field_1xcqj-1">
										<input
											data-invmsg="Areas of concern is invalid"
											data-sectionid="33"
											id="field_1xcqj-1"
											name="item_meta[58][]"
											type="checkbox"
											value="Drivability"
										/> Drivability</label>
								</div>
								<div
									class="frm_checkbox"
									id="frm_checkbox_58-33-3"
								>
									<label for="field_1xcqj-3">
										<input
											data-invmsg="Areas of concern is invalid"
											data-sectionid="33"
											id="field_1xcqj-3"
											name="item_meta[58][]"
											type="checkbox"
											value="Check Engine Light"
										/> Check Engine Light</label>
								</div>
								<div
									class="frm_checkbox"
									id="frm_checkbox_58-33-4"
								>
									<label for="field_1xcqj-4">
										<input
											data-invmsg="Areas of concern is invalid"
											data-sectionid="33"
											id="field_1xcqj-4"
											name="item_meta[58][]"
											type="checkbox"
											value="Heating"
										/> Heating</label>
								</div>
								<div
									class="frm_checkbox"
									id="frm_checkbox_58-33-6"
								>
									<label for="field_1xcqj-6">
										<input
											data-invmsg="Areas of concern is invalid"
											data-sectionid="33"
											id="field_1xcqj-6"
											name="item_meta[58][]"
											type="checkbox"
											value="Brakes"
										/> Brakes</label>
								</div>
								<div
									class="frm_checkbox"
									id="frm_checkbox_58-33-7"
								>
									<label for="field_1xcqj-7">
										<input
											data-invmsg="Areas of concern is invalid"
											data-sectionid="33"
											id="field_1xcqj-7"
											name="item_meta[58][]"
											type="checkbox"
											value="Cooling"
										/> Cooling</label>
								</div>
								<div
									class="frm_checkbox"
									id="frm_checkbox_58-33-8"
								>
									<label for="field_1xcqj-8">
										<input
											data-invmsg="Areas of concern is invalid"
											data-sectionid="33"
											id="field_1xcqj-8"
											name="item_meta[58][]"
											type="checkbox"
											value="Lighting"
										/> Lighting</label>
								</div>
								<div
									class="frm_checkbox"
									id="frm_checkbox_58-33-9"
								>
									<label for="field_1xcqj-9">
										<input
											data-invmsg="Areas of concern is invalid"
											data-sectionid="33"
											id="field_1xcqj-9"
											name="item_meta[58][]"
											type="checkbox"
											value="Transmission"
										/> Transmission</label>
								</div>
								<div
									class="frm_checkbox"
									id="frm_checkbox_58-33-10"
								>
									<label for="field_1xcqj-10">
										<input
											data-invmsg="Areas of concern is invalid"
											data-sectionid="33"
											id="field_1xcqj-10"
											name="item_meta[58][]"
											type="checkbox"
											value="Leaks"
										/> Leaks</label>
								</div>
								<div
									class="frm_checkbox"
									id="frm_checkbox_58-33-11"
								>
									<label for="field_1xcqj-11">
										<input
											data-invmsg="Areas of concern is invalid"
											data-sectionid="33"
											id="field_1xcqj-11"
											name="item_meta[58][]"
											type="checkbox"
											value="Engine"
										/> Engine</label>
								</div>
								<div
									class="frm_checkbox"
									id="frm_checkbox_58-33-12"
								>
									<label for="field_1xcqj-12">
										<input
											data-invmsg="Areas of concern is invalid"
											data-sectionid="33"
											id="field_1xcqj-12"
											name="item_meta[58][]"
											type="checkbox"
											value="Electrical"
										/> Electrical</label>
								</div>
								<div
									class="frm_checkbox"
									id="frm_checkbox_58-33-13"
								>
									<label for="field_1xcqj-13">
										<input
											data-invmsg="Areas of concern is invalid"
											data-sectionid="33"
											id="field_1xcqj-13"
											name="item_meta[58][]"
											type="checkbox"
											value="Suspension, Steering, Alignment"
										/> Suspension, Steering, Alignment</label>
								</div>
								<div
									class="frm_checkbox"
									id="frm_checkbox_58-33-2"
								>
									<label for="field_1xcqj-2">
										<input
											data-invmsg="Areas of concern is invalid"
											data-sectionid="33"
											id="field_1xcqj-2"
											name="item_meta[58][]"
											type="checkbox"
											value="Oil Change"
										/> Oil Change</label>
								</div>
								<div
									class="frm_checkbox"
									id="frm_checkbox_58-33-15"
								>
									<label for="field_1xcqj-15">
										<input
											data-invmsg="Areas of concern is invalid"
											data-sectionid="33"
											id="field_1xcqj-15"
											name="item_meta[58][]"
											type="checkbox"
											value="Other"
										/> Other</label>
								</div>
							</div>
						</div>
						<div
							class="frm_form_field form-field frm_hidden_container"
							id="frm_field_71_container"
						>
							<label
								class="frm_primary_label"
								for="field_ehyff"
								id="field_ehyff_label"
								>Oil Preference
								<span aria-hidden="true" class="frm_required"
								></span>
							</label>
							<select
								aria-invalid="false"
								data-invmsg="Oil Preference is invalid"
								data-placeholder="Oil Preference"
								data-sectionid="33"
								id="field_ehyff"
								name="item_meta[71]"
								placeholder="Oil Preference"
							>
								<option
									class="frm-select-placeholder"
									data-placeholder="true"
									value="">Oil Preference</option
								><option value="Full Synthetic"
									>Full Synthetic</option
								><option value='"Regular" Oil (Synthetic Blend)'
									>"Regular" Oil (Synthetic Blend)</option
								>
							</select>
						</div>
						<div
							class="frm_form_field form-field frm_hidden_container"
							id="frm_field_69_container"
						>
							<label
								class="frm_primary_label"
								for="field_w6bwj"
								id="field_w6bwj_label"
								>Describe areas of concern
								<span aria-hidden="true" class="frm_required"
								></span>
							</label>
							<textarea
								aria-invalid="false"
								data-invmsg="Paragraph is invalid"
								data-sectionid="33"
								id="field_w6bwj"
								name="item_meta[69]"
								placeholder="Please describe your areas of concern:"
								rows="5"></textarea>
						</div>
						<div
							class="frm_form_field frm_html_container form-field"
							id="frm_field_70_container"
						>
							<p>
								Please briefly describe why you brought your
								vehicle to My Mechanic today?
							</p>
						</div>
						<div
							class="frm_form_field form-field frm_hidden_container"
							id="frm_field_59_container"
						>
							<label
								class="frm_primary_label"
								for="field_t7o65"
								id="field_t7o65_label"
								>Please briefly describe why you brought your
								vehicle to My Mechanic today <span
									aria-hidden="true"
									class="frm_required"></span>
							</label>
							<textarea
								aria-invalid="false"
								data-invmsg="Paragraph is invalid"
								data-sectionid="33"
								id="field_t7o65"
								name="item_meta[59]"
								rows="5"></textarea>
						</div>
					</div>
					<div
						class="frm_form_field frm_section_heading customer-acknowledgment form-field"
						id="frm_field_72_container"
					>
						<h2 class="frm_pos_top frm_section_spacing">
							Customer Acknowledgment
						</h2>
						<div
							class="frm_form_field frm_html_container form-field"
							id="frm_field_74_container"
						>
							<div class="page" title="Page 1">
								<div class="section">
									<div class="layoutArea">
										<div class="column">
											<p>
												I hereby acknowledge My Mechanic
												is not responsible for any loss
												due to theft, fire, accidents,
												vandalism, or other casualties.
												I hereby grant My Mechanic
												employees permission to test
												drive my vehicle on and off
												premises. Prior to any vehicle
												repairs, I will be notified of
												all charges for vehicle repairs,
												at which time I will either give
												a verbal or written con- sent
												for the repairs to be performed.
												I understand additional or
												unforeseen repairs may be
												required on vehicle, which I
												will be advised of beforehand.
											</p>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div
							class="frm_form_field form-field frm_hidden_container frm6 frm_first"
							id="frm_field_75_container"
						>
							<label
								class="frm_primary_label"
								for="field_fjzjx"
								id="field_fjzjx_label"
								>Customer name
								<span aria-hidden="true" class="frm_required"
								></span>
							</label>
							<input
								aria-invalid="false"
								data-invmsg="Text is invalid"
								data-sectionid="72"
								id="field_fjzjx"
								name="item_meta[75]"
								placeholder="Name"
								type="text"
								value=""
							/>
						</div>
						<div class="frm_form_field form-field frm_hidden_container frm6" id="frm_field_77_container">
							<label class="frm_primary_label" for="field_7qnzk_proxy" id="field_7qnzk_label">
								Date <span aria-hidden="true" class="frm_required"></span>
							</label>

							<!-- ✅ Visible field (always shows something, even on mobile) -->
							<input
								type="text"
								id="field_7qnzk_proxy"
								class="mm-date-proxy"
								value="01/06/2026"
								placeholder="Select date"
								readonly
							/>

							<!-- ✅ Real field (the one that submits) -->
							<input
								aria-invalid="false"
								data-frmval="01/06/2026"
								data-invmsg="Text is invalid"
								data-sectionid="72"
								id="field_7qnzk"
								name="item_meta[77]"
								type="date"
								class="mm-date-real"
								value="2026-01-06"
							/>
						</div>
					</div>
					<div
						class="frm_form_field form-field frm_none_container"
						id="frm_field_100_container"
					>
						<label
							class="frm_primary_label"
							for="g-recaptcha-response"
							id="field_6utph_label"
							>Captcha
							<span aria-hidden="true" class="frm_required"
							></span>
						</label>
						<div
							class="frm-g-recaptcha"
							data-sitekey="6LeVPnMpAAAAAHPVd9LuF8-I8BfxrJSCeEs_Uv9q"
							data-size="invisible"
							data-theme="light"
							id="field_6utph"
						>
						</div>
					</div>
					<div
						class="frm_form_field form-field"
						id="frm_field_105_container"
					>
						<div class="frm_submit">
							<button
								class="frm_button_submit frm_final_submit btn btn-border btn-invert"
								formnovalidate="formnovalidate"
								type="submit"><span>Submit</span></button
							>
						</div>
					</div>
					<!-- ✅ REQUIRED for global script statuses -->
<div class="form-status" aria-live="polite" data-form-status style="display:none;"></div>
					<input name="item_key" type="hidden" value="" />
					<div id="frm_field_107_container">
						<label for="field_rt1uv">
							If you are human, leave this field blank.
						</label>
						<input
							class="frm_form_field form-field frm_verify"
							id="field_rt1uv"
							name="item_meta[107]"
							type="text"
							value=""
						/>
					</div>
					<input
						name="frm_state"
						type="hidden"
						value="+dVHBR3AETpPd78HZJOMFvXWMXw3JBcL1pQpkWabg2Y="
					/>
				</div>
			</fieldset>
		</div>
	</form>
</div>

<style>
	/* Suppress Formidable's global :invalid styling until the user actually tries to submit */
	:global(#form_customerinformation[data-validated="false"] .frm_form_field :invalid),
	:global(#form_customerinformation[data-validated="false"] input:invalid),
	:global(#form_customerinformation[data-validated="false"] textarea:invalid),
	:global(#form_customerinformation[data-validated="false"] select:invalid) {
		border-color: inherit !important;
		box-shadow: none !important;
		outline: none !important;
	}

	/* Date proxy + real overlay (mobile-friendly) */
	.mm-date-wrap,
	#frm_field_77_container {
	position: relative;
	}

	#frm_field_77_container .mm-date-proxy {
	width: 100%;
	}

	#frm_field_77_container .mm-date-real {
	position: absolute;
	inset: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	-webkit-appearance: none;
	appearance: none;
	border: 0;
	background: transparent;
	cursor: pointer;
	}
</style>

<script is:inline>
(() => {
  const form = document.getElementById("form_customerinformation");
  if (!form) return;

  // Prevent double-binding if Astro rehydrates/re-renders
  if (form.dataset.mmInitCustomerInfo === "1") return;
  form.dataset.mmInitCustomerInfo = "1";

  // ----------------------------
  // Helpers
  // ----------------------------
  const byId = (id) => document.getElementById(id);
  const normalize = (s) => (s ?? "").toString().trim();

  const statusEl = form.querySelector("[data-form-status]");
  const submitBtn =
    form.querySelector('button[type="submit"]') ||
    form.querySelector('input[type="submit"]');

  const showStatus = (ok, msg) => {
    if (!statusEl) return;
    statusEl.style.display = "block";
    statusEl.className = ok
      ? "form-status form-status--success"
      : "form-status form-status--error";
    statusEl.textContent =
      msg || (ok ? "Thanks! We received your submission." : "Something went wrong.");
  };

  const clearStatus = () => {
    if (!statusEl) return;
    statusEl.style.display = "none";
    statusEl.className = "form-status";
    statusEl.textContent = "";
  };

  const setBusy = (busy) => {
    if (!submitBtn) return;
    submitBtn.disabled = !!busy;
    if (busy) submitBtn.setAttribute("aria-busy", "true");
    else submitBtn.removeAttribute("aria-busy");
  };

  const isActuallyVisible = (el) => {
    if (!el) return false;
    if (el.hasAttribute("hidden")) return false;
    if (el.closest("[hidden]")) return false;

    const cs = window.getComputedStyle(el);
    if (!cs) return true;
    if (cs.display === "none" || cs.visibility === "hidden") return false;

    return el.getClientRects().length > 0;
  };

  const setVisible = (container, show) => {
    if (!container) return;
    container.style.display = show ? "" : "none";
    container.setAttribute("aria-hidden", show ? "false" : "true");
    if (!show) clearInputs(container);
  };

  const clearInputs = (root) => {
    if (!root) return;
    for (const el of root.querySelectorAll("input, textarea, select")) {
      if (el instanceof HTMLInputElement) {
        if (el.type === "checkbox" || el.type === "radio") el.checked = false;
        else if (el.type !== "hidden") el.value = "";
      } else if (el instanceof HTMLTextAreaElement) {
        el.value = "";
      } else if (el instanceof HTMLSelectElement) {
        el.selectedIndex = 0;
      }
      el.classList.remove("frm_error");
      const container = el.closest(".frm_form_field");
      container?.classList?.remove("frm_blank_field");
      el.setAttribute?.("aria-invalid", "false");
    }
  };

  // ----------------------------
  // ✅ Vehicle cascade (Year → Make → Model)
  // ----------------------------
  const VEHICLES = (() => {
    try { return JSON.parse(form.dataset.vehicles || "{}"); }
    catch (_) { return {}; }
  })();

  const yearEl = byId("field_4564y");
  const makeEl = byId("field_u64q9");
  const modelEl = byId("field_zbjf4");

  const setOptions = (select, values) => {
    if (!select) return;
    const placeholder = select.options[0] ? select.options[0].cloneNode(true) : null;
    select.innerHTML = "";
    if (placeholder) select.appendChild(placeholder);
    for (const v of values) {
      const opt = document.createElement("option");
      opt.value = v;
      opt.textContent = v;
      select.appendChild(opt);
    }
  };

  const years = Object.keys(VEHICLES || {}).sort((a, b) => Number(b) - Number(a));
  if (yearEl && years.length) {
    const current = normalize(yearEl.value);
    setOptions(yearEl, years);
    if (current && years.includes(current)) yearEl.value = current;
  }

  const updateMakes = () => {
    if (!yearEl || !makeEl) return;
    const y = normalize(yearEl.value);
    const makes = y && VEHICLES[y] ? Object.keys(VEHICLES[y]).sort() : [];
    const current = normalize(makeEl.value);
    setOptions(makeEl, makes);
    makeEl.value = makes.includes(current) ? current : (makeEl.options[0]?.value ?? "");
    updateModels();
  };

  const updateModels = () => {
    if (!yearEl || !makeEl || !modelEl) return;
    const y = normalize(yearEl.value);
    const mk = normalize(makeEl.value);
    const models = y && mk && VEHICLES[y] && Array.isArray(VEHICLES[y][mk]) ? VEHICLES[y][mk] : [];
    const current = normalize(modelEl.value);
    setOptions(modelEl, models);
    modelEl.value = models.includes(current) ? current : (modelEl.options[0]?.value ?? "");
  };

  yearEl?.addEventListener("change", updateMakes, true);
  makeEl?.addEventListener("change", updateModels, true);
  updateMakes();

  // ----------------------------
  // ✅ Vehicle "not listed" toggle
  // ----------------------------
  const vehicleNotListed = byId("field_crbon-0");
  const cYear = byId("frm_field_44_container");
  const cMake = byId("frm_field_45_container");
  const cModel = byId("frm_field_46_container");
  const cManual = byId("frm_field_48_container");

  const applyVehicleNotListed = () => {
    const checked = !!vehicleNotListed?.checked;
    setVisible(cYear, !checked);
    setVisible(cMake, !checked);
    setVisible(cModel, !checked);
    setVisible(cManual, checked);
  };

  vehicleNotListed?.addEventListener("change", applyVehicleNotListed, true);
  applyVehicleNotListed();

  // ----------------------------
  // ✅ Conditionals/toggles
  // ----------------------------
  const returningCustomer = byId("field_mv3sd-2");
  const newInfoContainer = byId("frm_field_43_container");
  const applyReturning = () => setVisible(newInfoContainer, !!returningCustomer?.checked);
  returningCustomer?.addEventListener("change", applyReturning, true);
  applyReturning();

  const referral = byId("field_87v3o");
  const refCustomer = byId("frm_field_64_container");
  const refBNI = byId("frm_field_63_container");
  const refOther = byId("frm_field_66_container");

  const applyReferral = () => {
    const v = normalize(referral?.value);
    setVisible(refCustomer, v === "Customer");
    setVisible(refBNI, v === "BNI");
    setVisible(refOther, v === "Other");
  };
  referral?.addEventListener("change", applyReferral, true);
  applyReferral();

  const warningOther = byId("field_ki46-7");
  const warningOtherContainer = byId("frm_field_67_container");
  const applyWarningOther = () => setVisible(warningOtherContainer, !!warningOther?.checked);
  warningOther?.addEventListener("change", applyWarningOther, true);
  applyWarningOther();

  const concernOil = byId("field_1xcqj-2");
  const concernOther = byId("field_1xcqj-15");
  const oilPrefContainer = byId("frm_field_71_container");
  const concernOtherContainer = byId("frm_field_69_container");
  const applyConcerns = () => {
    setVisible(oilPrefContainer, !!concernOil?.checked);
    setVisible(concernOtherContainer, !!concernOther?.checked);
  };
  form.addEventListener("change", applyConcerns, true);
  applyConcerns();

  // ----------------------------
  // ✅ Date proxy sync
  // ----------------------------
  const real = byId("field_7qnzk");       // your real input (may be readonly text)
  const proxy = byId("field_7qnzk_proxy"); // your visible proxy

  const mmddyyyyToIso = (val) => {
    const m = /^(\d{1,2})\/(\d{1,2})\/(\d{4})$/.exec(String(val || "").trim());
    if (!m) return String(val || "").trim();
    const mm = m[1].padStart(2, "0");
    const dd = m[2].padStart(2, "0");
    return `${m[3]}-${mm}-${dd}`;
  };

  const isoToDisplay = (iso) => {
    const m = /^(\d{4})-(\d{2})-(\d{2})$/.exec(String(iso || "").trim());
    if (!m) return "";
    const y = Number(m[1]);
    const mo = Number(m[2]) - 1;
    const d = Number(m[3]);
    return new Date(y, mo, d).toLocaleDateString();
  };

  const syncProxy = () => {
    if (!real || !proxy) return;
    proxy.value = real.value ? isoToDisplay(real.value) : "";
  };

  if (real instanceof HTMLInputElement && proxy instanceof HTMLInputElement) {
    if (real.value && /\//.test(real.value)) real.value = mmddyyyyToIso(real.value);
    if (!real.value) {
      const frmVal = real.getAttribute("data-frmval") || "";
      if (frmVal) real.value = mmddyyyyToIso(frmVal);
    }

    proxy.addEventListener("click", () => real.showPicker?.() || real.click());
    proxy.addEventListener("focus", () => real.showPicker?.() || real.click());
    real.addEventListener("change", syncProxy);
    real.addEventListener("input", syncProxy);
    syncProxy();
  }

  // ----------------------------
  // ✅ Validation (match your working inline script behavior)
  // ----------------------------
  const requiredContainers = Array.from(
    form.querySelectorAll(".frm_form_field.frm_required_field")
  );

  const getField = (container) => container.querySelector("input, textarea, select");

  const validateContainer = (container) => {
    // Skip hidden containers (your conditionals hide entire wrappers)
    if (!isActuallyVisible(container)) return true;

    const el = getField(container);
    if (!el) return true;

    let valid = true;

    // Checkbox/radio group
    if (el.type === "checkbox" || el.type === "radio") {
      valid = !!form.querySelector(`[name="${el.name}"]:checked`);
    }
    // File
    else if (el.type === "file") {
      valid = !!(el.files && el.files.length > 0);
    }
    // Everything else
    else {
      valid = normalize(el.value) !== "";

      if (valid && el.type === "email") {
        valid = /^[^\s@]+@[^\s@]+\.[^\s@]+$/.test(el.value.trim());
      }

      const pattern = el.getAttribute("pattern");
      if (valid && pattern) {
        try { valid = new RegExp(`^${pattern}$`).test(el.value); }
        catch (_) {}
      }
    }

    container.classList.toggle("frm_blank_field", !valid);
    el.setAttribute("aria-invalid", (!valid).toString());
    return valid;
  };

  const validateForm = () => {
    let ok = true;
    requiredContainers.forEach((c) => {
      if (!validateContainer(c)) ok = false;
    });
    return ok;
  };

  // Live re-check after user fixes a blank field
  requiredContainers.forEach((c) => {
    const el = getField(c);
    if (!el) return;
    ["input", "change", "blur"].forEach((evt) => {
      el.addEventListener(
        evt,
        () => {
          if (c.classList.contains("frm_blank_field")) validateContainer(c);
        },
        { passive: true }
      );
    });
  });

  // ----------------------------
  // ✅ Submission + status (same style as your other forms)
  // ----------------------------
  form.addEventListener(
    "submit",
    async (e) => {
      // Gate invalid submission (same as contact form)
      const ok = validateForm();
      if (!ok) {
        e.preventDefault();
        e.stopPropagation();
        const first = form.querySelector(".frm_blank_field");
        first?.scrollIntoView?.({ behavior: "smooth", block: "center" });
        return;
      }

      // If your global script is already handling POST + reCAPTCHA,
      // you can stop here and let it continue.
      //
      // BUT: you said you need statuses; this local submit will take over
      // and show status consistently.

      e.preventDefault();
      e.stopPropagation();

      // Turn on validation styling after first submit attempt (matches your CSS gate)
      form.dataset.validated = "true";

      clearStatus();
      setBusy(true);

      try {
        // Ensure action exists (you already hit this issue)
        const action = form.getAttribute("action") || "/api/forms";
        const method = (form.getAttribute("method") || "POST").toUpperCase();

        const fd = new FormData(form);

        // Ensure server gets stable name for routing/label mapping
        if (!fd.get("form_name")) {
          fd.set("form_name", form.dataset.formName || "Customer Information Form");
        }

        const res = await fetch(action, {
          method,
          headers: { Accept: "application/json" },
          body: fd,
        });

        // tolerate non-json
        let data = {};
        const ct = (res.headers.get("content-type") || "").toLowerCase();
        if (ct.includes("application/json")) data = await res.json().catch(() => ({}));
        else {
          const txt = await res.text().catch(() => "");
          data = { ok: false, error: txt && txt.length < 400 ? txt : "" };
        }

        if (!res.ok || !data?.ok) {
          showStatus(false, data?.error || `Submission failed (${res.status}).`);
          return;
        }

        showStatus(true, data?.message || "Thanks! We received your submission.");

        // Clear non-hidden fields (keep hidden plumbing + recaptcha field)
        form.querySelectorAll("input, textarea, select").forEach((el) => {
          const type = (el.getAttribute("type") || "").toLowerCase();
          const name = el.getAttribute("name") || "";
          if (type === "hidden") return;
          if (name === "recaptcha_token") return;

          if (type === "checkbox" || type === "radio") el.checked = false;
          else if (el.tagName === "SELECT") el.selectedIndex = 0;
          else el.value = "";

          el.setAttribute("aria-invalid", "false");
          el.closest(".frm_form_field")?.classList?.remove("frm_blank_field");
        });

        // Re-apply conditionals after clearing
        applyVehicleNotListed();
        applyReturning();
        applyReferral();
        applyWarningOther();
        applyConcerns();
        syncProxy();
      } catch (err) {
        console.error("[customer-information] submit failed:", err);
        showStatus(false, "Network/server error. Please try again.");
      } finally {
        setBusy(false);
      }
    },
    true
  );
})();
</script>